table{
    height: 700px;
    width: 600px;
    background-color: rgb(35, 35, 35);
}
th{
    height: 80px;
    background-color: rgb(53, 52, 52);
    font-size: 35px;
    color: whitesmoke;
}
td{
    text-align: center;
    font-size: 25px;
    color: white;
    background-color: rgb(22, 22, 22);
    border-radius: 5px;
}
#d1:hover{
    background-color: rgb(32, 31, 31);
}
#d2:hover{
    background-color: rgb(32, 31, 31);
}
#d3:hover{
    background-color: rgb(32, 31, 31);
}
#d4:hover{
    background-color: rgb(32, 31, 31);
}
#d5:hover{
    background-color: rgb(32, 31, 31);
}
#d6:hover{
    background-color: rgb(32, 31, 31);
}
#d7:hover{
    background-color: rgb(32, 31, 31);
}
#d8:hover{
    background-color: rgb(32, 31, 31);
}
#d9:hover{
    background-color: rgb(32, 31, 31);
}
#d0:hover{
    background-color: rgb(32, 31, 31);
}
#d00:hover{
    background-color: rgb(32, 31, 31);
}
#dpoint:hover{
    background-color: rgb(32, 31, 31);
}
#d-:hover{
    background-color: rgb(32, 31, 31);
}
#dmul:hover{
    background-color: rgb(32, 31, 31);
}
#ddiv:hover{
    background-color: rgb(32, 31, 31);
}
#dplus:hover{
    background-color: rgb(32, 31, 31);
}
#deq:hover{
    background-color: rgb(32, 31, 31);
}
#dmod:hover{
    background-color: rgb(32, 31, 31);
}
#dac:hover{
    background-color: rgb(32, 31, 31);
}
#ddel:hover{
    background-color: rgb(32, 31, 31);
}
